<%- include('home.ejs') %>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/sell">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">View Car</li>
    </ol>
</nav>

<div class="view-car" p-5>
  <div class="row mb-5">
    <div class="col text-center">
      <h3><%=data.rows[0].car_name%></h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Car Name</th>
              <th scope="col">Fuel Type</th>
              <th scope="col">Transmission</th>
              <th scope="col">City</th>
              <th scope="col">Mobile no</th>
              <th scope="col">No of Owners</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><%=data.rows[0].car_name%></th>
              <td><%- data.rows[0].fuel %></td>
              <td><%- data.rows[0].transmission %></td>
              <td><%- data.rows[0].addtitle %></td>
              <td><%- data.rows[0].mob_no %></td>
              <td><%- data.rows[0].no_of_owners%>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>